TELEMOST_URL=https://telemost.yandex.ru/j/12345
TELEMOST_DISPLAY_NAME=Телемостер
TELEMOST_SCHEDULE=13:00,15:00,16:00
TELEMOST_RECORDINGS_DIR=recordings
TELEMOST_AUDIO_BACKEND=pulse
TELEMOST_AUDIO_SINK_NAME=telemost_record
TELEMOST_WINDOW_SIZE=1600x900
TELEMOST_WINDOW_POSITION=0,0
TELEMOST_SILENCE_TIMEOUT_SECONDS=120
TELEMOST_SILENCE_MIN_DETECT_SECONDS=1
TELEMOST_SILENCE_NOISE_DB=-45
TELEMOST_CHROMIUM_PATH=/usr/bin/chromium-browser
TELEMOST_CHROMIUM_PROFILE_DIR=.telemost-profile
TELEMOST_BROWSER_LAUNCH_TIMEOUT_SECONDS=60
TELEMOST_JOIN_TIMEOUT_SECONDS=90
TELEMOST_POST_JOIN_DELAY_SECONDS=5
TELEMOST_FFMPEG_LOGLEVEL=info
